{% extends "layouts/user_base_admin.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.dropbtn {
  background-color: #fb8c00;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#reports_hide {
  display: none;
   transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fb8c00;
}





</style>

{% endblock stylesheets %}


{% block content %}
<div class="row">
    <div class="col-lg-10 col-md-10">
    </div>
    <div class="col-lg-2 col-md-2">
        <a href="{% url 'register_' %}">
            <button type="button" class="btn btn-primary">Add New User</button>
        </a>
    </div>
</div>
<div class="col-lg-12 col-md-12">
    <div class="card" style="">
        <div class="card-header card-header-warning">
            <h4 class="card-title">User Department List</h4>
        </div>
        <div class="card-body table-responsive" style="">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>Sr. No.</th>
                <th>Username</th>
                <th>User Type</th>
                <th>Department Assigned</th>
                </thead>
                <tbody>
                {{ report_html|safe }}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
  function show(_id) {
        var y = "show" + _id;
        console.log("===============================> ", y)
        var x = document.getElementsByClassName(y);

        for (var i=0; i<x.length; i++){
            if (x[i].style.display === "" || x[i].style.display === "none") x[i].style.display = "table-row";
            else x[i].style.display = "none";
        }
  }

  function check(e, userid, reportname) {
  console.log(e.target);
  console.log(userid);
  console.log(reportname);
  console.log(e.target.checked);
   $.post("{% url 'update_report' %}",
     {
         csrfmiddlewaretoken: '{{ csrf_token}}',
         'userid' : userid,
         'reportname': reportname,
         'checked': e.target.checked,
     },
   );
  }

</script>

{% endblock %}

