

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
              <a target="_blank" rel="noopener noreferrer"
                 href="https://www.zu.ac.ae/main/en/" class="nav-link">
                Chatbot Dashboard
              </a>
              </li>

            </ul>
          </nav>
         <div class="copyright float-right">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer"
                      href="https://www.zu.ac.ae/main/en/">ZAYED UNIVERSITY</a>
          </div>
        </div>
    </footer>

